<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset = UTF-8">
    <title>【LINE人狼】 ログ閲覧</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body class="my-5">
    <div id="app">
        <div class="fixed-top h5 bg-info text-white mx-auto">{{name}} > メニュー > ログ閲覧 </div>
        <div class="container" v-show="isShow">
            <ul class="list-group col-12">
                <li class="list-group-item col-12" v-for="log in logList">                   
                    <div class="row">
                        <div class="col-4">開始</div>
                        <div class="col-7">{{log.ins_date| moment}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">現在</div>
                        <div class="col-7">{{log.day}}日目 {{log.time}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">名前</div>
                        <div class="col-7">{{log.cn}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">役職</div>
                        <div class="col-7">{{log.role}}</div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" :on-click="'location.href=https://script.google.com/macros/s/AKfycbzYYOCqHs74XNmtJjfOLQRmR5lUQS5m0JKccJXh7XtrEjXr4wKs/exec?mode=logView&villageid='+log.villageid">ログを開く</button>
                </li>
            </ul>
        </div>
            
        <div v-if="isError">参加した村が無いよ</div>

        <div class="d-flex justify-content-center" v-if="!isShow && !isError">
            <div class="spinner-border " role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        
    </div>
        
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="./vconsole.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                userid:'',
                name:'',
                villageId:'',
                logList:[],
                isShow: false,
                isError:false,
            },
            mounted :function(){
                var self = this;
                liff
                .init({
                    liffId: "1653830188-Pm8D8g5j" // use own liffId
                })
                .then(function() {
                    // Start to use liff's api
                    liff.getProfile()
                        .then(function(profile){
                            self.userid = profile.userId;
                            self.name = profile.displayName;

                            axios.get("https://script.google.com/macros/s/AKfycbzYYOCqHs74XNmtJjfOLQRmR5lUQS5m0JKccJXh7XtrEjXr4wKs/exec?mode=logList&userid="+self.userid)
                                .then(function(response){   
                                    var getData = response.data;
                                    if(getData.exists == true){
                                        self.logList = getData.list;
                                        self.isShow = true;
                                    }else{
                                        self.isError = true;
                                        console.log(JSON.stringify(self));
                                    }
                                    

                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                        })
                        .catch((err) => {
                        console.log('error', err);
                        });

                })
                .catch((err) => {
                    // Error happens during initialization
                    console.log(err.code, err.message);
                });


            },
            filters: {
                moment: function (date) {
                    return moment(Date.parse(date)).format('YYYY/MM/DD');
                }
            }
        })
    </script>


<script>
window.onload = function(){
    initVConsole();
}
// Initialize vConsole
function initVConsole() {
    window.vConsole = new window.VConsole({
        defaultPlugins: ['system', 'network', 'element', 'storage'],
        maxLogNumber: 1000,
        onReady: function() {
            console.log('vConsole is ready.');
        },
        onClearLog: function() {
            console.log('on clearLog');
        }
    });
}
</script>



</body>

</html>